<div class="body">
    <nav class="navbar-one flex">
        <div class="left flex">
            <div class="nom_entite">
                <span class="entite" (click)="naviguerAcceuil()">DSI</span>
            </div>
        </div>
        <div class="right flex">
            <div class="nom_utilisateur">
                <span *ngIf="nomUtilisateur" class="utilisateur">{{ nomUtilisateur.nomComplet }}</span>
                <div class="deconnexion">
                    <div class="container-deconnexion" (click)="Deconnexion()">
                        <i class="fa-solid fa-right-from-bracket icon2"></i>
                        <span>Deconnexion</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <nav class="navbar-second">
        <div class="logo">
            <i class="fa-solid fa-list icon"></i>
            <span>Liste des besoins</span>
        </div>
    </nav>


    <!-- <div *ngFor="let application of applications">
        <p><a [routerLink]="['/besoinDsi', application.applicationId]">
            {{ application?.nomApplication }}
        </a></p>
    </div> -->

    <div class="application-list">
        <div class="application" *ngFor="let application of applications" (click)="naviguerBesoin(application.applicationId)">
          <p>
            <!-- <a> -->
              {{ application?.nomApplication }}
            <!-- </a> -->
          </p>
        </div>
      </div>
      
</div>

