<!-- <form (submit)="modifierBesoin()">
    <div class="form-group">
  
      <label for="titre">Titre du besoin</label>
      <input type="text" [(ngModel)]="titre" name="titre" required>
  
      <label for="email">Description de l'application</label>
      <input type="text" [(ngModel)]="description" name="description" required>


      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
   -->


   <div class="body">

    <!-- <div class="sidebar">
        <div class="logo">
          <ul class="menu">
    
            <li >
                <a href="">
                  <i class="fa-solid fa-house icon2"></i>       
                  <span>Acceuil</span>   
                </a>        
            </li>
    
            <li >
              <a href="">
                <i class="fa-solid fa-list icon2"></i>
                <span>Repartir</span>
              </a>
            </li>
    
            <li >
              <a href="">
                <i class="fa-solid fa-chart-pie icon2"></i>
                <span>Evolution</span>
              </a>
            </li>
            <li class="logout" >
              <a href="">
                <i class="fa-solid fa-right-from-bracket icon2"></i>
              <span>Deconnexion</span>
              </a>
            </li>
          </ul>
        </div>
      </div> -->

   <div class="container">
       <div class="login form">
           <header>Modification de besoin</header>
           <form action="" (submit)="modifierBesoin()">
             <input type="text" placeholder="Entrer le besoin" [(ngModel)]="titre" name="titre" required>
             <input type="text" placeholder="Decriver le besoin" [(ngModel)]="description" name="description" required>
             <input type="submit" value="Enregistrer" class="button">
           </form>
       </div>
   </div>
</div>
<div class="container-modal">
   <div class="success-modal" *ngIf="isModalVisible">
       <div class="modal-content">
           <i class="fa-solid fa-check check"></i>
           <h2>Succès!</h2>
           <p>Le besoin a été modifié avec succès.</p>
           <button (click)="closeSuccessModal()">OK</button>
       </div>
   </div>
</div>
<div class="container-modal-echec">
   <div class="echec-modal" *ngIf="isModalVisible2">
       <div class="modal-content-echec">
           <i class="fa-solid fa-xmark mark"></i>            
           <h2>Echec!</h2>
           <p>Un probleme est survenu lors de la modification de besoin.</p>
           <button (click)="closeEchecModal()">OK</button>
       </div>
   </div>
</div>

