<div class="body">

    <nav class="navbar-one flex">
        <div class="left flex">
            <div class="nom_entite">
                <span class="entite" (click)="naviguerAcceuil()">SCDSI</span>
            </div>
        </div>
        <div class="right flex">
            <div class="nom_utilisateur">
                <span *ngIf="nomUtilisateur" class="utilisateur">{{ nomUtilisateur.nomComplet }}</span>
                <div class="deconnexion">
                    <div class="container-deconnexion" (click)="Deconnexion()">
                        <i class="fa-solid fa-right-from-bracket icon2"></i>
                        <span>Deconnexion</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <nav class="navbar-second">
        <div class="logo">
            <i class="fa-solid fa-user icon"></i>            
            <span>Page de repartition de tache</span>
        </div>
    </nav>

    <ul class="besoins-list">
        <li class="besoin" *ngFor="let besoin of besoins">
          <p>Nom de l'application: <b>{{besoin?.application?.nomApplication}}</b></p>
          <p>Titre du besoin: <b>{{besoin?.titreBesoin}}</b></p>
          <p>Traite par :</p>
          <form (submit)="recupererDev(besoin)">
            <div class="select-box">
              <select name="utilisateurSelect" id="utilisateurSelect" [(ngModel)]="nom">
                <option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur.nomComplet">{{utilisateur.nomComplet}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>
        </li>
    </ul>
      
</div>
<div class="container-modal">
    <div class="success-modal" *ngIf="isModalVisible">
        <div class="modal-content">
            <i class="fa-solid fa-check check"></i>
            <h2>Succès!</h2>
            <p>Besoin reparti avec succès.</p>
            <button (click)="closeSuccessModal()">OK</button>
        </div>
    </div>
  </div>
  <div class="container-modal-echec">
    <div class="echec-modal" *ngIf="isModalVisible2">
        <div class="modal-content-echec">
            <i class="fa-solid fa-xmark mark"></i>            
            <h2>Echec!</h2>
            <p>Un probleme est survenu lors de la repartition de besoin.</p>
            <button (click)="closeEchecModal()">OK</button>
        </div>
    </div>
  </div>
