<!-- <p *ngIf="nomUtilisateur">Bienvenu {{ nomUtilisateur.nomComplet }}</p> -->
<div class="body">


<nav class="navbar-one flex">
    <div class="left flex">
        <div class="nom_entite">
            <span class="entite">SVTFA</span>
        </div>
    </div>
    <div class="right flex">
        <div class="message" (click)="naviguerMessage()">
            <i class="fa-solid fa-message icon"></i><span class="numMess" >{{nombreMessage}}</span>
        </div>
        <div class="notification" (click)="naviguerNotification()" >
            <i class="fa-solid fa-bell icon"></i><span class="numMess">{{nombreCommentaire}}</span>       
        </div>
        <div class="nom_utilisateur">
            <span *ngIf="nomUtilisateur" class="utilisateur">{{ nomUtilisateur.nomComplet }}</span>
            <div class="deconnexion">
                <div class="container-deconnexion" (click)="Deconnexion()">
                    <i class="fa-solid fa-right-from-bracket icon2"></i>
                    <span>Deconnexion</span>
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar-second">
    <div class="logo">
        <i class="fa-solid fa-house icon"></i><br>       
        <span>Page d'acceuil</span>
    </div>
</nav>

<section class="home" id="home">
    <div class="content">
        <span *ngIf="nomUtilisateur">Bienvenue <b>{{ nomUtilisateur.nomComplet }}</b> dans la page d'acceuil, cette page est dediée aux employés du departement de<b>SVTFA</b></span>
    </div>
    <div class="box-container" >
        <div class="box"(click)="naviguerApplication()">
            <i class="fa-solid fa-check icon"></i>
            <h3>Valider les besoins</h3>
        </div>
        <div class="box"(click)="naviguerListe()">
            <i class="fa-solid fa-list icon"></i>
            <h3>Liste des besoins</h3>
        </div>
        <div class="box"(click)="naviguerCreation()">
            <i class="fa-solid fa-plus icon"></i>
            <h3>Ajout besoin</h3>
        </div>
        <div class="box" (click)="naviguerInformer()">
            <i class="fa-solid fa-message icon"></i>
            <h3>Informer les clients</h3>
        </div>
    </div>
</section>

</div>

<div class="messageModal" *ngIf="isSuccessModalVisible">
    <ul>
        <h1>Messages</h1>
        <li *ngFor="let message of messages">
            <p>Message : {{message?.texteMessage}}<br>Envoye par : <strong>{{message?.utilisateurEmetteur}}</strong></p>
            <div class="date">
                <h3>{{message?.dateMessage | date:'dd'}}<br>
                    <span>{{message?.dateMessage | date:'MM'}}</span>
                </h3>
                <button (click)="marquerCommeLu(message)">Marquer comme lu</button>
            </div>
        </li>
    </ul>
</div>

<div class="commentaireModal" *ngIf="isSuccess2ModalVisible">
    <ul>
        <h1>Notifications</h1>
        <li *ngFor="let commentaire of commentaires">
            <div class="date">
                <h3>{{commentaire?.dateCommentaire | date:'dd'}}<br>
                    <span>{{commentaire?.dateCommentaire | date:'MM'}}</span>
                </h3>
                
            </div>
            <p>{{commentaire?.texteCommentaire}}<br>Envoye par : <strong>{{commentaire?.utilisateurEmetteur}}</strong></p>
            <button (click)="marquerCommeLu(commentaire)">Marquer comme lu</button>
        </li>
    </ul>
</div>